
<div class="content">
  <div class="logo">
    <img  routerLink="" src="../../assets/images/logo.png" height="80vh" alt="">
    <div class="socIcon">
        <a class="socA" href="#"><img class="soc" src="../../assets/images/facebook.png" alt=""></a>
        <a class="socA" href="#"><img class="soc" src="../../assets/images/instagram.png" alt=""></a>
        <a class="socA" href="#"><img class="soc" src="../../assets/images/youtube.png" alt=""></a>
    </div>
</div>
  <div class="toTheTop scrollToTop" >
    <button mat-raised-button color="primary">
      Go To Top
    </button>
  </div>
  <div class="contacts">
    <table class="table">
      <thead class="thead-light">
      </thead>
      <tbody>
          <tr>
              <th scope="row">
                <i class="material-icons">
                home
                </i>
                </th>
              <td> 105/1 Teryan str</td>
          </tr>
          <tr>
              <th scope="row">
                <i class="material-icons">
                email
                </i>
              </th>
              <td> <a href="mailto:mihran.baldryan@gmail.com">mihran.baldryan@gmail.com</a></td>
          </tr>
          <tr>
              <th scope="row">
                <i class="material-icons">
                phone
                </i>
              </th>
              <td> <a href="tell:+37495644301">+374 95 64 43 01</a></td>
          </tr>
          <!-- <tr> 
                  <a class="socA" href="#"><img class="soc" src="../../assets/images/facebook.png" alt=""></a>
                  <a class="socA" href="#"><img class="soc" src="../../assets/images/instagram.png" alt=""></a>
                  <a class="socA" href="#"><img class="soc" src="../../assets/images/youtube.png" alt=""></a>
          </tr> -->
      </tbody>
      </table>

  </div>
</div>
