* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

img{
    cursor:pointer;
}
.content {
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #475498;
}

.logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: auto;
}

.toTheTop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: auto;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: auto;
}

table {
    color: white;
    height: auto;
    display: flex;
    justify-content: center;
}

.table td, .table th {
    padding: 0px;
    border-top: 0px;
}

.soc {
    width: 20px;
}

.socA{
    margin-left: 5px;
    margin-right: 5px;
}

.socIcon {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    height: auto;
}

a {
    color: white;
    text-decoration: none;
}

@media (max-width:768px) {
    .content {
        flex-direction: column;
        height: auto;
    }

    .logo {
        justify-content: space-evenly;
        width: 100%;
        flex-direction: row;
    }

    .toTheTop {
        width: 100%;
        margin: 0 0 2vh 0;
    }

    .contacts {
        justify-content: center;
        width: 100%;
    }
}