
<div class="content">
  <div class="logo">
    <img  routerLink="" src="../../assets/images/logo.png" height="80vh" alt="">
    <div class="socIcon">
        <a class="socA" href="#"><img class="soc" src="../../assets/images/facebook.png" alt=""></a>
        <a class="socA" href="#"><img class="soc" src="../../assets/images/instagram.png" alt=""></a>
        <a class="socA" href="#"><img class="soc" src="../../assets/images/youtube.png" alt=""></a>
    </div>
</div>
  <div class="toTheTop scrollToTop" >
    <button mat-raised-button color="primary">
      Go To Top
    </button>
  </div>
  <div class="contacts">
    <table class="table">
      <thead class="thead-light">
      </thead>
      </table>

  </div>
</div>
