.main { 
    margin-top:10vh;
    min-height: 60vh;
    display: flex;
    justify-content: flex-start;
}

.content {
    margin-top: 2vh;
    width: 80%;
    z-index: 0;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    position: relative;
    margin: 0px auto;
    height: auto;
}

@media(max-width:767px){
    .content {
        width: 90%;
    }
}
