.sliderPics {
    width: 100%;
    height: 63vh;
    background-position: center;
    background-size: cover;
    margin-top: 7vh;
}

#sliderPics {
    width: 100%;
    margin-top: 7vh;
    height: auto;
}
