/* Generals resets and unimportant stuff */
* { margin: 0px; padding: 0px; }


/* --- Product Card ---- */
#make-3D-space{
    position: relative;
    perspective: 800px;
    width:240px;
    height:400px;
    position:relative;    
}

#product-card{
	width:225px;
	height:390px;
	position:relative;    
	top:10px;
	left:10px;	
	overflow:hidden;
}


#product-card:hover {
	top:5px;
	left:5px;
	width:235px;
	height:400px;
	box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out; 
}

.stats-container{
	background:#fff;	
	position:absolute;
	top:296px;
	left:0;
	width:100%;
	height:200px;
	padding:20px;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;
}
#product-card:hover .stats-container{
	top:222px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.stats-container .product_name{
	font-size:22px;
	color:#393c45;	
}
.stats-container p{
	font-size:16px;
	color:#b1b1b3;	
	padding:2px 0 10px 0;
}
.stats-container .product_price{
	float:right;
	color:#475498;
	font-size:22px;
	font-weight:600;
}
.image_overlay{
	position:absolute;
	top:0;
	left:0; 
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity:0;	
}
#product-card:hover .image_overlay{
	opacity:0.7;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.product-options{
	padding:2px 0 0;
}
.product-options strong{
	font-weight:700;
	color:#393c45;
	font-size:14px;
}
.product-options span{	
	color:#969699;
	font-size:14px;
	display:block;
	margin-bottom:8px;
}
#view_details{	
	position:absolute;
	top:70px;
	left:68px;
	margin: 0px auto;
	border:2px solid #fff;
	color:#fff;
	font-size:19px;
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;
	width:100px;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
#view_details:hover{	
	background:#fff;
	color:#475498;
	cursor:pointer;

}
#product-card:hover #view_details{
	opacity:1;
	width:100px;
	font-size:15px;
	margin: 0px auto;
	top:70px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}

.productInfo {
	display:flex;
	justify-content: center;
	flex-direction: row;
	width:100%;
}

.productInfo a {
	margin: 10px auto;
	width: 50px;
	height: 50px; 
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.productInfo a:hover {
	background-color: #e6e6e6;
}

.info {
	width: 25px;
}

.clear {
	clear: both;
}