.contentP{
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 0;
    z-index: 3;   
}

.content {
    width: 100%;
    height: 7vh;
    background-color: #475498;
    box-shadow: 0 0 10px #000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    z-index: 1;
}

.logo {
    width: 5%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height:6vh;
}

.info{
    height:4vh;
    filter: brightness(0) invert(1);
}

.menu {
    width: 70%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar {
    color: white;
    text-decoration: none;
    padding: 2.4vh;
    font-size: 2.2vh;
}

.navBar:hover, .sabmenu a:hover {
    background-color: #5e6bab;
}

.active-link{
    background-color: #8490ca;
}

.search {
    width: 10%;
    height: 7vh;
    display: flex;
    /* flex-direction:column; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


#site_search{
    display: none;
    position:relative;
    height: 6vh;
    border-radius: 5%;
    padding-left:10px; 
}


a{
    text-decoration: none;
}

.dropdown{
    width: 5%;
    height: 10vh;
    display: none;
}

.dropdown img{
    position: absolute;
    margin: 0 auto;
    right: 0vw;
    top: 0vh;
    height: 7vh;
    z-index: 500;
}

.content+div{
    display: flex;
    justify-content: flex-end;
}

.sabmenu {
    display: none;
    overflow:auto;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color:  #475498; 
    height: 100vh;
}

#sabmenuP{
    display: none;
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100vh;
    z-index:4;
}

.a2{
    font-size: 5vh; 
    letter-spacing: -1px;
    color: #fff;
    text-transform: uppercase;
    text-align: center; 
    display:block;
    width: 100%;
    padding: 0;
    margin: 0;
}

#sabmenu a {
    width: 100%;
}

#sp{ display:inline-block;
    width:73px;
  height:60.5px;
    background:url(../../../assets/images/sp.svg);
}

#sp:hover{
    background-position:0vh -7vh; 
}
    
#sp1{ 
    display:inline-block;
    width:73px;
  height:60.5px;
    background-image:url(../../../assets/images/sp.svg);
    background-position:-60.88px 0px ;
}

#sp1:hover{
    background-position:-60.8px -60.5px ;
}

#netWork{
    display: flex;
    justify-content: center;
}

#close{
    display: none;
    height: 90vh;
    width: 70%;    
}

  
  
 #nav-icon {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 6.4vh;
    height: 7vh;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon span {
    position: absolute;
    height: 1vh;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  
  #nav-icon span:nth-child(1) {
    top: 1vh;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon span:nth-child(2) {
    top: 3vh;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon span:nth-child(3) {
    top: 5vh;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0.5vh;
    left: 1vh;
  }
  
  #nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  
  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 5vh;
    left: 1vh;
  }







@media(max-width:1024px){

    #site_search{
        width: 150px;
        font-size: 18px;
    }

.content {
    justify-content: space-between;
}

.logo {
    width: 30vw;
    justify-content: center;
}

.search {
    width: 30vw;
    justify-content: center;
}

.dropdown {
    width: 30vw;
    height: 7vh;
    justify-content: center;
}

.menu {
    display: none;
}

.navBar{
    width: 0px;
}

.sabmenu {
    display: block;
}

#sabmenuP{
    width: 100%;
}

#close{
    width: 0;
}

.sabmenu a{
    font-size: 5vh;
}

.dropdown{
    display: flex;
    margin: 0px 0px 0px 0px;
}



}